/* General */

body{
  margin: 0px;
  padding: 0px;
  background-color: #FAF9F6;
}

h1, label, input[type=submit]{
  font-family: "Poppins", Helvetica;
}

h2,h3,h4,h5,h6,th{
  font-family: "Poppins", Helvetica;
  color: #0e0e0e;
}

p,a,li,td, input, select, textarea, button{
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: #0e0e0e;
}


/* Header section */
header{
  /* Fixed position and size so that it follows as you scroll */
  /* I use flexbox throughout, as I'm more comfortable making things responsive that way */
  position: fixed;
  display: flex;
  width: 100%;
  height: 85px;
  padding: 10px 0px;
  align-items: center;
  justify-content: center;
  background-color: #0e0e0e;
  /* Z-index is set to 1 so it's always on top. I ran into an issue where it was clipping
  into the YouTube video I have. I tried setting the Z-index of the video to -1, which stopped
  the clipping but made it unplayable. Thus, I did the reverse (increased the header's z-index). */
  z-index: 1;
}

header > div{
  width: auto;
  height: 100%;
  flex-grow: 1;
  padding-top: 15px;
}

header > div > a > img{
  width: auto;
  height: 100%;
}

header > nav > menu{
  display: flex;
  margin: 0px;
  padding: 10px 15px 10px 10px;
  list-style: none;
}

header > nav > menu > li{
  /* Padding between list items */
  padding: 0px 15px;
  font-family: "Orbitron", Helvetica;
  font-weight: 700;
  border-right: solid 2px #FAF9F6;
}
header > nav > menu > li:last-child{
  /* Padding between list items */
  border: none;
}


header > nav > menu > li > a{
  color:#FAF9F6;
  padding: 10%;
  font-size: 1.2em;
}

.logo{
  padding-left: 2%;
  opacity: 90%;
  background: transparent;
}

/* Hero image section */
.scrolledHeader{
  height: 85px;
}

.hero{
  background-image: url("../img/1.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hero > div{
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.6);
  display: flex;
  align-items: center;
  /*align items aligns vertically (cross axis)*/
  justify-content: center;
  /*aligns items horizontally (main axis)*/
}

.hero > div > h1{
  display: inline-block;
  font-size: 9.25vw;
  /* Styling it closer to the actual logo */
  font-weight: 900;
  color: #FAF9F6;
  text-align: center;
  line-height: 100%;
}

/* Main section styling */
main{
  width: 100%;
}

.first-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}

.first-section > p{
  color:#0e0e0e;
}

.pic-section-1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pic-section-1 > div{
  flex-wrap: wrap;
  width: 50%;
  height: auto;
  float: left;
  padding: 0px 5px 0px 0px;

}

.pic-section-1 > div > img{
  width: 100%;
  height: auto;
}

.pic-section-1 > p{
  width: 50%;
  float: right;
  padding: 0px 0px 0px 5px;
  color: #0e0e0e;
}

.pic-section-2{
  display: flex;
  width: 100%;
  height: auto;
}

.pic-section-2 > img{
  flex: 1 1 calc(33.333% - 20px);
  display: block;
  height: auto;
  width: 33.33%;
}

.video-div{
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 1% 0%;
}

/* This was taken from W3 schools and then further customized with the above class */
.internal-video-div{
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.responsive-video{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

form{
  display: flex;
  height: 500px;
  width: 80%;
  flex-direction: column;
  padding: 5px 20px 5px 20px;
  align-items: center;
  justify-content: center;
}

.firstlast{
  display: flex;
}
.firstlast > input[type=text]{
  display: block;
  width: 50%;
  padding: 10px;
  margin: 20px;
}

#email{
  width: 100%;
  padding: 10px;
  margin: 20px;
}

footer{
  display: flex;
  align-items: start;
  /* Found this image and thought it was too perfect to leave out */
  height: 300px;
  width: auto;
  background-color: #0e0e0e;
  justify-content: center;
  align-items: center;
}

footer > .footer-logo{
  width: 30%;
  height: auto;
  float: left;
  display: block;
}

.footer-logo > a > img{
  width: 100%;
  height: auto;
}

footer > .blank-div{
  width: 30%;
  height: auto;
}

footer .footer-col{
  width: 40%;
  height: auto;
  float: right;
  display: block;
}

.footer-col h5, p{
  color: #FAF9F6;
}

h5{
  font-size: 24px;
}
/* I had initially added another breakpoint, but it ultimately 
wasn't necessary with my final header */
